<div class="container">
  <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
    <div class="mb-2">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{restaurant.name}}"
      />
    </div>
    <div class="mb-2">
      <label for="name_en" class="form-label">English Name</label>
      <input
        type="text"
        class="form-control"
        id="name_en"
        name="name_en"
        value="{{restaurant.name_en}}"
      />
    </div>
    <div class="mb-2">
      <label for="category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        value="{{restaurant.category}}"
      />
    </div>
    <div class="mb-2">
      <label for="image" class="form-label">Image URL</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
        value="{{restaurant.image}}"
      />
    </div>
    <div class="mb-2">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        name="location"
        value="{{restaurant.location}}"
      />
    </div>
    <div class="mb-2">
      <label for="phone" class="form-label">Phone Number</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        value="{{restaurant.phone}}"
      />
    </div>
    <div class="mb-2">
      <label for="google_map" class="form-label">Google Map URL</label>
      <input
        type="text"
        class="form-control"
        id="google_map"
        name="google_map"
        value="{{restaurant.google_map}}"
      />
    </div>
    <div class="mb-2">
      <label for="rating" class="form-label">Rating</label>
      <input
        type="number"
        class="form-control"
        id="rating"
        name="rating"
        min="0"
        max="5"
        value="{{restaurant.rating}}"
      />
    </div>
    <div class="mb-2">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        cols="30"
        rows="10"
      >{{restaurant.description}}</textarea>
    </div>
    <button type="submit">Edit</button>
    <a href="/">Back</a>
  </form>
</div>